html, body {
  background: #1a1c1e;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
  text-align: center;
  color: #ccc;
  font-size: 20px;
  font-family: Arial;
  text-transform: uppercase;
  height: 300px;
  margin-top: -150px;
}

div span {
  display: block;
  font-size: 40px;
  text-transform: none;
}

div a {
  display: block;
  color: #a4e32a;
  margin-top: 20px;
  text-transform: none;
}