/*@import url(http://fonts.googleapis.com/css?family=Roboto);*/
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto.woff) format('woff');
  }
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 14px;
    color: #828288;
    cursor: default;
  }
  body {
    padding: 60px 40px;
  }
  h1 {
    font-size: 38px;
    margin: 0 0 20px 0;
  }
  h2 {
    font-size: 28px;
    margin: 0 0 20px 0;
  }
  h3 {
    font-size: 20px;
    margin: 0 0 20px 0;
  }
  p {
    max-width: 600px;
  }
  pre {
    margin: 0 -40px 20px -40px;
    font-size: 14px;
  }
  code {
    padding: 20px 40px !important;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  div.section {
    margin: 0 0 80px 0;
  }
  /*Examples*/
  .example-1-buttonWrapper,
  .example-2-buttonWrapper {
    width: 600px;
    height: 50px;
    -webkit-user-select: none;
    user-select: none;
    margin-bottom: 40px;
  }
  .example-1-buttonWrapper div,
  .example-2-buttonWrapper div {
    float: left;
    padding: 0 10px;
    height: 48px;
    line-height: 48px;
    margin-right: 10px;
    border: 1px solid #888;
    background: #ddddee;
    color: #333344;
  }
  .example-1-buttonWrapper div:hover,
  .example-2-buttonWrapper div:hover {
    background: #e8e8ff;
  }
  .example-1-buttonWrapper div:active,
  .example-2-buttonWrapper div:active {
    background: #ccccdd;
  }